.courier-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

body {
    background-color: rgb(243, 248, 252);   
    margin: 0px;
}

body > * {
    margin-left: 10px;
}

body section {
    font-family: Lato, sans-serif;
}

header {
    margin-left: 0px;
}

header nav {
    background-color: rgb(5, 10, 65);
    height: 2em;

    margin: 0px;
}

header nav a {
    font-family: Montsserat, sans-serif;
    padding: 0.5em;
    padding-top: 0.5em;
    display: inline-block;
}

footer {
    background-color: rgb(5, 10, 65);
    height: 2em;

    color: white;
    font-family: Montsserat, sans-serif;
    margin: 0px;

    /* position: fixed; */
}
footer div {
    padding: 0.5em;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

body > h2 {
    margin-bottom: 0.25em;
}

nav a {
    color: white;
}

#help-section {
    background-color: rgb(243, 242, 248);
    width: 50%;
    font-family: Lato, sans-serif;
    
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    
    margin: 0.5em;
}

#help-section table {
    table-layout: fixed;
    border-collapse: collapse;
}

#help-section table th, td {
    border: 3px solid rgb(78, 67, 90);
    padding: 5px;
}

#help-section code {
    background-color: rgb(104, 98, 82);
    color: white;
    padding-left: .25em;
    padding-right: .25em;
    padding-bottom: .10em;
    border-radius: 2px;
}

#help-section li {
    margin-bottom: 0.5em;
}

#command-form button {
    background-color: rgb(9, 17, 103);
    color: white;
    border-width: 0px;
    border-radius: 5px;
}

#command-form input {
    width: 20em;
}

#command-form * {
    height: 2em;
}

#output-section {
    background-color: rgb(30, 28, 40);
    width: 60%;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 5px;
    margin: 0.5em;
}

#output-section pre {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 1rem;
}


#math-display {
    /* float: right; */
    display: block;
    width: 50vw;
    /* height: auto; */
    background-color: white;
    border-radius: 3px;

    font-family: serif;
    font-size: 1.5rem;
    margin-right: 1em;
}

#math-display > * {
    padding: 0.5rem;
}