.courier-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

body {
    background-color: rgb(243, 248, 252);   
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

body > * {
    margin-left: 10px;
}

body section {
    font-family: Lato, sans-serif;
}

header {
    margin-left: 0px;
}

header nav {
    background-color: rgb(5, 10, 65);
    height: 2em;

    margin: 0px;
}

header nav a {
    font-family: Montsserat, sans-serif;
    padding: 0.5em;
    padding-top: 0.5em;
    display: inline-block;
}

main {
    flex-grow: 1;
}

footer {
    background-color: rgb(5, 10, 65);
    height: 2em;

    color: white;
    font-family: Montsserat, sans-serif;
    margin: 0px;
}
footer div {
    padding: 0.5em;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

body > h2 {
    margin-bottom: 0.25em;
}

nav a {
    color: white;
}

.help-section {
    background-color: rgb(251, 255, 255);
    width: 50%;
    font-family: Lato, sans-serif;
    
    margin: 0.5em 0px;
}

.help-section table {
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 5px;
}

.help-section table tbody tr:nth-child(odd) {
    background-color: rgb(238, 242, 246);
}

.help-section table th, td {
    padding: 5px;
}

.help-section code {
    background-color: rgb(89, 92, 96);
    color: white;
    padding-left: .25em;
    padding-right: .25em;
    padding-bottom: .10em;
    border-radius: 2px;
}

.help-section li {
    margin-bottom: 0.5em;
}

#math-help-section {
    width: 40%;
}

#command-form button {
    background-color: rgb(9, 17, 103);
    color: white;
    border-width: 0px;
    border-radius: 5px;
}

#command-form input {
    width: 20em;
}

#command-form * {
    height: 2em;
}

#output-section {
    background-color: rgb(30, 28, 40);
    width: 60%;
    min-height: 10rem;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 7px;
    margin: 0.5em 0px;
}

#output-section pre {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 1rem;
}

#math-display {
    float: right;
    display: block;
    width: 50vw;
}

#math-display section {
    background-color: white;
    min-height: 20rem;
    border-radius: 1rem;

    font-family: serif;
    font-size: 1.5rem;
    margin-right: 1em;
}

#math-display section > * {
    padding: 0.5rem;
}

/* #math-display math {
    margin-bottom: 0.5em;
} */