<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="application-name" content="DChu's Problem Generator" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DChu's Problem Generator</title>

        {% import 'utils.html' as utils %}
        {{ utils.fonts() }}

        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
    </head>
    <body>
        {{ utils.header() }}
        <h1>
            About
        </h1>
        <section>
            <p>
                This is my personal website where you can enter commands in the textbox, and the website will generate a problem for you based on what you type.
            </p>
        </section>
    </body>
</html>