{% extends "layout.html" %}


{% block content %}

  <h1> DChu's Problem Generator </h1>

  <form name="form" method="post" id="command-form">
    <input 
      type="text" name="command_line" 
      class="courier-text"  placeholder="Enter a command..." 
      required="true" autofocus="true" autocomplete="off" />
    <button type="submit" class="courier-text">Submit</button>
  </form>

  <dialog id='home-command-dialog' class='command-dialog'>
    <button 
      id='home-dialog-close-button' 
      class='dialog-close-button'
      commandfor='home-command-dialog' 
      command='close'>
      Close
    </button>

    <h2>List of Commands</h2>

    {{ help_section_markdown|safe }}
  </dialog>

  <button 
    id='home-dialog-open-button' 
    class='dialog-open-button'
    commandfor='home-command-dialog' 
    command='show-modal'>Command list</button>

  <h2>Output:</h2>

  <section id="output-section" class="courier-text">
    {% for line in output_lines %}
      <pre> {{ line }} </pre>
    {% endfor %}
  </section>

{% endblock %}
