<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="DChu's Problem Generator">
        <meta name="author" content="DChu">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            DChu's Problem Generator
        </title>
        <link href=" {{ url_for('static', filename='style.css') }}" rel="stylesheet "/>

    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>
            </nav>
        </header>
        <h1> DChu's Problem Generator </h1>
        <form name="form" method="post">
            <input type="text" name="command_line" class="courier-text"  placeholder="Enter a command..." required="true" autofocus="true" autocomplete="off" />
            <button type="submit" class="courier-text">Submit</button>
        </form>
        <section id="help-section" class="courier-text">
            {% for line in help_lines %}
                <p> {{ line }} </p>
            {% endfor %}
        </section>
        <section id="output-section" class="courier-text">
            {% for line in output_lines %}
                <pre> {{ line }} </pre>
            {% endfor %}
        </section>
    </body>
</html>