{% extends "layout.html" %}


{% block content %}
  <h1>DChu's Math Problem Generator</h1>

  <form name="form" method="post" id="command-form">
    <input type="text" name="command_line" 
    class="courier-text"  placeholder="Enter a command..." 
    required="true" autofocus="true" autocomplete="off" />
    <button type="submit" class="courier-text">Submit</button>
  </form>

  <dialog id='math-command-dialog' class='command-dialog'>
    <button 
      id='math-dialog-close-button' 
      class='dialog-close-button'
      commandfor='math-command-dialog' 
      command='close'>
      Close
    </button>

    <h2>List of Commands</h2>

    {{ math_help_section_markdown | safe }}
  </dialog>

  <button 
    id='math-dialog-open-button' 
    class='dialog-open-button'
    commandfor='math-command-dialog' 
    command='show-modal'>
    Command list
  </button>


  <div id='math-display' class='display-section'>
    <h2>Output:</h2>
    <div id='math-display-window'>
      {{ math_problem | safe }}            
    </div>
  </div>

{% endblock %}
