{% extends "layout.html" %}


{% block content %}

  <div id='math-main'>
    <h1>DChu's Math Problem Generator</h1>

    <form name="form" method="post" id="command-form">
      <input type="text" name="command_line" class="courier-text"  placeholder="Enter a command..." required="true" autofocus="true" autocomplete="off" />
      <button type="submit" class="courier-text">Submit</button>
    </form>

    <dialog id='command-list-dialog' class='help-section'>
      <button 
        id='math-dialog-close-button' 
        class='dialog-close-button'
        commandfor='command-list-dialog' 
        command='close'>
        Close
      </button>
      <h2>List of Commands</h2>
      {{ math_help_section_markdown | safe }}
    </dialog>

    <button 
      id='math-dialog-open-button' 
      class='dialog-open-button'
      commandfor='command-list-dialog' 
      command='show-modal'>Command list</button>
    <div id="math-display">
      <h2>Output:</h2>
      <section>
        {{ math_problem | safe }}            
        <div></div>
      </section>
    </div>

    <section class="help-section" id="math-help-section">
    </section>
  </div>

{% endblock %}
